{% extends "base.html" %}
{% block title %} <title>Изменение данных учетной записи</title> {% endblock%}
{% block content %}

<form method="POST">
        {% csrf_token %}
        {{ form.email.label }}
        <br>
        {{form.email}}
        <br>
        {{ form.full_name.label }}
        <br>
        {{form.full_name}}
        <br>
        {{ form.flat_number.label }}
        <br>
        {{form.flat_number }}
        <br>
        {{ form.flat_area.label }}
        <br>
        {{form.flat_area }}
        <br>
        {{ form.flat_share.label }}
        <br>
        {{form.flat_share }}
        <br>
        {{ form.password.label }}
        <br>
        {{form.password }}
        <br>
        <br>
        <input type="submit" value="Сохранить изменения" class="sub" style="width: 400px; height: 50px;" >
</form>

{% endblock %}