{% extends "base_documents.html" %}

{% block content %}

<strong class="text"><h3>Все документы</h3></strong>


{% for meeting in my_meetings %}

<div class="news">
<p>
  <strong class="text">{{meeting.title}}</strong>
  <br>
  <br>
  <br>
{% if meeting.stage > 1 %}
<a href="{% url 'get_notification_file' %}" class="btn5"> Скачать уведомление </a>
  <br>
  <br>
  <br>
{% endif %}
{% if meeting.stage > 2 %}
<a href="{% url 'get_statement_file' %}" class="btn5"> Скачать бюллетень </a>
  <br>
  <br>
  <br>
{% endif %}
{% if meeting.stage > 5 %}
<a href="{% url 'get_protocol_file' %}" class="btn5"> Скачать протокол </a>
  <br>
  <br>
  <br>
{% endif %}
{% if meeting.stage == 1 %}
Документы еще не созданы<br>
{% endif %}
</p>
</div>

{% endfor %}

{% endblock %}