{% extends "base_documents.html" %}

{% block content %}

<div class="news">
<a><h3>Все документы</h3></a>
</div>
{% for meeting in my_meetings %}

<div class="news">
<a>
  <h3>{{meeting.title}}</h3>
  <br>
  <a href="{% url 'get_notification_file' %}" class="meeting_names"> Скачать уведомление </a><br>
  <a href="{% url 'get_statement_file' %}" class="meeting_names"> Скачать бюллетень </a><br>
  <a href="{% url 'get_protocol_file' %}" class="meeting_names"> Скачать протокол </a><br>

  </a>
  </div>


{% endfor %}

{% endblock %}