@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
  border-radius: 30px;
}

.menu-main li {
  display: inline-block;
}

.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align: top;
}

.menu-main li:last-child:after {
  content: none;
}

.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
  color: #432e36;
}

.menu-main a.current,
.menu-main a:hover {
  color: #feb386;
}

.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}

.menu-main a:hover:before,
.menu-main .current:before {
  left: 0;
}

.menu-main a:hover:after,
.menu-main .current:after {
  right: 0;
}

@media (max-width: 900px) {
  .menu-main {
    padding-top: 0;
  }
  
  .menu-main li {
    display: block;
  }
  
  .menu-main li:after {
    content: none;
  }
  
  .menu-main a {
    padding: 25px 0 20px;
    margin: 0 30px;
    font-size: 17px;
  }
}
    body {
      background: #AF8D86;
    }
    
    ul {
      box-sizing: border-box;
      font-family: 'Ubuntu Condensed', sans-serif;
      font-size: 1.5em;
      position: absolute;
      width: 280px;
      height: 140px;
      margin-left: 80%;
      margin-top: 1%;
      background: linear-gradient(180deg, rgba(175, 141, 134, 0.94) -30.29%, rgba(175, 141, 134, 0.97) -30.27%, #FFFFFF 144.92%);
      backdrop-filter: blur(25px); 
      border: 2px solid rgba(225, 226, 230, 0.2);
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.3);
      border-radius: 24px;
    }
    
    .main-news {
      position: relative;
      border: 1px solid white;
      width: 80%;
      font-family: 'Ubuntu Condensed', sans-serif;
      font-size: 1.5em;
      letter-spacing: 2px;
      text-align: center;
      margin-top:0.9%;;
      border-radius: 30px;
      color: #9d999d;
      margin-left: auto;
      margin-right: 100%;
      text-decoration: none;
    }
    
    .title {
      background: white;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 30px;
      color: #432e36;
      padding: 1.5%;
      text-align: center;
    }
    
    .news {
      
      padding: 1%;
      border-bottom: 1px solid white;
      margin: 1%;
      font-size: 0.8em;
      color: #9d999d;
    }
    
    .news:last-child {
      border-bottom: none;
    }
    
    a {
      color: black;
      font-size: 1.2em;
      text-decoration: none;
    }
      
    .image1{
      position: relative;
      left:0%;
      top: 17px;
      }
      .image2{
        position: relative;
        left: 48%;
        top: 18px;
        }
        .logo{
          position: relative;
          left: 42%;
          margin-top: 0px;
          margin-right: 0; 
        }
/* form {
  margin-left:1500px;
    margin-top: 50px;
    margin-right: 0px;
} */
/* input[type=submit] {
  background-color: #5F4842;
  color: #fff;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
  font-family:  'Trebuchet MS', Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  border-radius:5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 80px;
  
}
input[type=file] {
  background-color: #5F4842;
  color: #fff;
  padding: 5px 2px;
  text-decoration: none;
  cursor: pointer;
  font-family:  'Trebuchet MS', Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  border-radius:5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: -20px;
} */

.meeting_names:hover {
    color: #ffe;
}

