<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="\static\css\styles_base_construct.css">
    <title>ТСЖ Плюс - Собрания</title>
</head>
<body>
  <img src="https://i.ibb.co/ZLSbDZS/3.png" alt="logo" class="logo" height="100" width="200">
  <img src="https://i.ibb.co/jkwgNVW/image.png" alt="image1" class="image1" height="130" width="190">
  <img src="https://i.ibb.co/K25h5TP/image.png" alt="image2" class="image2" height="100" width="100">
  <div class="menu-main">
    {% block topbar %}
       <a href="{% url 'index_news' %}"> Новости </a>
       <a href="{% url 'index_voting' %}">Голосование</a>
       <a href="{% url 'index_construct' %}">Собрания</a>
       <a href="{% url 'index_documents' %}">Документы</a>
       <a href="{% url 'account' %}">Личный кабинет</a>

     {% endblock %}
   </div>
  {% if is_index_meeting %}
    <br>
    <a href="{% url 'add_meeting' %}" class="btn6">Создать новое собрание</a>
  {% endif %}
   <div class="main-news">
    <div class="title">Собрания</div>
    <div class="news" ><a>{% block content %} {% endblock %}</a></div>
</div>

   

</body>
</html>