{% extends "base_construct.html" %}

{% block content %}

<h3>{{meeting.title}}</h3>
<br>

{% if meeting.stage == 1 %}
    <h3>Текущая стадия: выбраны пункты для голосования</h3>
    {% if now_user.is_admin or is_initiator %}
    <a href="{% url 'notification_view' %}" class="btn5"> Создать уведомление </a>
    <br>
    {% endif %}
{% endif %}

{% if meeting.stage == 2 %}
<h3>Текущая стадия: создано уведомление</h3>
<a href="{% url 'get_notification_file' %}" class="btn5"> Скачать уведомление </a><br>
<br> <br>
{% if now_user.is_admin or is_initiator %}
<a href="{% url 'add_statement' %}" class="btn5"> Создать бюллетень </a><br>
{% endif %}
{% endif %}

{% if meeting.stage == 3 %}
<h3>Текущая стадия: созданы бюллетени</h3>
<a href="{% url 'get_notification_file' %}" class="btn5"> Скачать уведомление </a>
<br>
<br>
<a href="{% url 'get_statement_file' %}" class="btn5"> Скачать бюллетень </a><br>
<br><br>
{% if now_user.is_admin or is_initiator %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name='status' value="START" />
    <input type="submit" value = "Запустить голосование" class="btn5">
</form>
{% else %}

<a>Только администратор или инициатор собрания могут запустить голосование</a>
{% endif %}
{% endif %}

{% if meeting.stage == 4 %}
<h3>Текущая стадия: голосование начато</h3>

<a href="{% url 'get_notification_file' %}" class="btn5"> Скачать уведомление </a>
<br>
<br>
<a href="{% url 'get_statement_file' %}" class="btn5"> Скачать бюллетень </a>
<br>
<br>

<a>Если вы еще не проголосовали, то можете это сделать по ссылке</a>
<br>
<br>

<a href="{% url 'index_voting' %}" class="btn5">Голосование</a>
<br>
<br>
{% if now_user.is_admin or is_initiator %}
    <a>Вы можете добавить в систему голоса, внесенные оффлайн</a>
    <br>
    <br>
    <a href="/voting/add_offline?id={{ meeting.meeting_id }}" class="btn5"> Добавить оффлайн голоса</a>
    <br>
    <br>
    <a>Посмотреть результаты голосования</a>
    <br>
    <br>
    <a href="/voting/voting_results?id={{ meeting.meeting_id }}" class="btn5"> Результаты голосования</a>
    <br>
<br>
<br>
{% endif %}
{% if quorum == 0 %}
    <a>Кворум не достигнут!</a><br>
    <a>Чтобы завершить голосование, и перейти к составлению протокола нужно 50% голосов</a><br>
{% else %}
    <a>Кворум достигнут!</a><br>
    {% if now_user.is_admin or is_initiator %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name='status' value="STOP" />
        <input type="submit" value = "Завершить голосование" class="btn5">
    </form>
    {% else %}
    <a>Только администратор или инициатор собрания могут завершить голосование<a/><br>
    {% endif %}

{% endif %}

{% endif %}

{% if meeting.stage == 5 %}
<h3>Текущая стадия: голосование завершено</h3>

<a href="{% url 'get_notification_file' %}" class="btn5"> Скачать уведомление </a>
        <br>
        <br>
        <br>
<a href="{% url 'get_statement_file' %}" class="btn5"> Скачать бюллетень </a><br>
<br><br>


{% if now_user.is_admin %}
<strong style="color: black;" >Посмотреть результаты голосования</strong>
        <br>
        <br>
        <br>
    <a href="/voting/voting_results?id={{ meeting.meeting_id }}" class="btn5">Результаты голосования</a>
        <br>
        <br>
        <br>
    <a href="{% url 'add_protocol' %}" class="btn5"> Создать Протокол </a><br>
{% else %}
<strong style="color: black;" >Протокол может создать только администратор</strong>
{% endif %}
{% endif %}

{% if meeting.stage == 6 %}

<h3>СОБРАНИЕ ЗАВЕРШЕНО</h3>

<a href="{% url 'get_notification_file' %}" class="btn5"> Скачать уведомление </a>
        <br>
        <br>
<a href="{% url 'get_statement_file' %}" class="btn5"> Скачать бюллетень </a>
        <br>
        <br>
<a href="{% url 'get_protocol_file' %}" class="btn5"> Скачать протокол </a>
        <br>
        <br>
{% if now_user.is_admin %}
<strong style="color: black;" >Посмотреть результаты голосования</strong>
        <br>
        <br>
    <a href="/voting/voting_results?id={{ meeting.meeting_id }}" class="btn5">Результаты голосования</a>
        <br>
        <br>
{% endif %}
<br><br>

{% endif %}

<br>

<a href="meeting?id={{ elem.meeting_id }}"> {{ elem.title }}</a>

{% endblock %}