{% extends "base_construct.html" %}
{% block content %}
<div class="info">
  <h2>Что такое “товарищество собственников жилья” (ТСЖ)?</h2>
  <p>
    Товарищество собственников жилья (ТСЖ) — это объединение собственников квартир и нежилых помещений в многоквартирном доме (или в нескольких домах) для совместного управления общим имуществом (ч. 1 ст. 135 ЖК РФ).
  </p>
  <p>ТСЖ может объединять несколько домов, если эти дома расположены на земельных участках, которые имеют общую границу и в пределах которых находятся инженерные сети и другие элементы инфраструктуры, которые предназначены для совместного использования собственниками помещений в этих домах.
</p>
  <h2>Как создать ТСЖ? </h2>
<p>Решение о создании ТСЖ принимается на общем собрании собственников помещений в многоквартирном доме. Инициатором проведения собрания может быть любой собственник помещения в многоквартирном доме. Собрание может быть проведено посредством очного, очно-заочного либо заочного голосования (<a href="https://login.consultant.ru/link/?req=doc&base=LAW&">ст. 44.1</a>, <a href="https://login.consultant.ru/link/?req=doc&base=LAW&n=425471&dst=1">ч. 1 ст. 136 ЖК РФ</a>).
</p>
<p>В повестку дня такого собрания обязательно должны быть включены следующие вопросы:
</p>
<ul>
  <li>выборы счетной комиссии;</li>
  <li>выбор способа управления домом — создание товарищества собственников жилья;</li>
  <li>утверждение устава ТСЖ;</li>
  <li>выборы правления ТСЖ;</li>
  <li>выборы ревизионной комиссии (ревизора) ТСЖ;</li>
  <li>выборы председателя правления ТСЖ (избирается из числа членов правления);</li>
  <li>выборы уполномоченного представителя собственников помещений по государственной регистрации ТСЖ (как правило, этим представителем избирается будущий председатель правления ТСЖ);</li>
  <li>расторжение договора управления с управляющей компанией (если вашим домом управляет управляющая компания).</li>
</ul>

  <p>Если ТСЖ создается в одном многоквартирном доме, то поддержать это решение должны собственники, обладающие более 50% от общего числа голосов собственников в этом доме. Если ТСЖ планирует управлять общим имуществом сразу в нескольких домах, то решение о создании такого ТСЖ должно приниматься более чем двумя третями голосов собственников в каждом из этих домов (ч. 1 ст. 136, п. 2, ч. 2, ст. 136 ЖК РФ).
</p>
  <p>Также на общем собрании жильцам нужно принять решение об отказе от услуг управляющей компании и переходе на новую форму при помощи товарищества. Если домом уже управляет управляющая компания, при создании и регистрации ТСЖ договор с ней расторгается.
</p>

  <h2>Как подготовить устав?</h2>

  <p>Основным документом, регламентирующим деятельность ТСЖ, является устав, который необходимо подготовить заранее для последующего утверждения на общем собрании собственников помещений в многоквартирном доме.
</p>
  <p>Устав ТСЖ должен содержать следующие сведения:
</p>
  <ol>
    <li>наименование, включающее слова "товарищество собственников жилья";</li>
    <li>место нахождения ТСЖ;</li>
    <li>предмет и цели его деятельности;</li>
    <li>порядок возникновения и прекращения членства в ТСЖ;</li>
    <li>состав, компетенция и порядок избрания органов управления ТСЖ (общее собрание членов и правление ТСЖ), срок избрания правления ТСЖ, порядок принятия ими решений, в том числе по вопросам, решения по которым принимаются единогласно или квалифицированным большинством голосов. Законодательством не установлено количество членов правления ТСЖ, но это может быть предусмотрено в уставе;</li>
    <li>полномочия, порядок и срок избрания председателя правления ТСЖ. Избрание председателя правления ТСЖ может быть отнесено уставом к компетенции общего собрания членов товарищества. В противном случае председателя избирает правление ТСЖ из своего состава;</li>
    <li>состав, компетенция и срок избрания ревизионной комиссии (либо компетенция ревизора) ТСЖ. </li>
    <li>иные сведения, например об имуществе ТСЖ, о правах и обязанностях его членов, о порядке реорганизации и ликвидации товарищества, внесения изменений и дополнений в устав. </li>
  </ol>


  <p>Данные нормы предусмотрены в п. 1 ст. 52, п. 1 ст. 54 ГК РФ; п. 9 ст. 2, ч. 2, 2.1 ст. 135, ст. 144, ч. 1, 2, 3 ст. 145, ч. 2, 3 ст. 147, ст. 149, ч. 1 ст. 150 ЖК РФ.</p>
  <p>Также устав может содержать и иные вопросы, например:</p>
  <ol>
    <li>возможные формы проведения собраний;</li>
    <li>возможные формы голосования;</li>
    <li>возможные способы доставки уведомлений и др.</li>
  </ol>


  </div>
{% endblock %}