<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="\static\css\styles_news.css">
</head>

<body >

     <ul class="menu-main">
     {% block topbar %}
        <a href="{% url 'index_news' %}"> Новости </a>
        <a href="{% url 'index_voting' %}">Голосование</a>
        <a href="{% url 'construct' %}">Конструктор документов</a>
        <a href="{% url 'index_documents' %}">Документы</a>
        <a href="{% url 'account' %}">личный кабинет</a>

      {% endblock %}
    </ul>
    <div class="container"> 
    {% block sidebar %}
    <li><a href="{% url 'index_news' %}"> Все</a></li>
    <li><a href="{% url 'notes' %}">Уведомления</a></li>
    <li><a href="{% url 'finals' %}">Итоги собраний</a></li>
{% if now_user.is_admin %} <li><a href="{% url 'add_news' %}">Добавить новость</a></li> {% endif %}

     {% endblock %}
    </div>

    <div class="main-nws">
      {% block content %}

      {% endblock %}
    </div>

</body>
</html>