<!DOCTYPE html>
<html lang="en">
<head>

    <title>ТСЖ Плюс - Новости ТСЖ</title>
    <meta charset="utf-8">
  <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="\static\css\styles_news.css">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=mt9riRk1BlCcYvzJLOa4mi5CpoBu_ZCUksR53rKh7oIxIhTagpqorb0j7gt3D3t1vfZ9d8NPkQnZRqCB0EAvAQkNzk2kS3Y2HAkC9RPzHAfOkKjKnO3-dV3HhZjdeIDNs69eO7xUWhuQOXpXfLfdnw" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvMTA4NjIwNjgyNTc3MjM1MTUzOC8xMDk1Njg1NjcxODgyMDc2MjgwL2Jhc2VfbmV3cy5odG1s"/></head>

<body >
  <img src="https://i.ibb.co/ZLSbDZS/3.png" alt="logo" class="logo" height="100" width="200">
    <img src="https://i.ibb.co/jkwgNVW/image.png" alt="image1" class="image1" height="130" width="190">
    <img src="https://i.ibb.co/K25h5TP/image.png" alt="image2" class="image2" height="100" width="100">

     <div class="menu-main">
     {% block topbar %}
        <a href="{% url 'index_news' %}"> Новости </a>
        <a href="{% url 'index_voting' %}">Голосование</a>
        <a href="{% url 'index_construct' %}">Как провести собрание</a>
        <a href="{% url 'index_documents' %}">Документы</a>
        <a href="{% url 'account' %}">личный кабинет</a>

      {% endblock %}
    </div>

    <div class="container">
    <ul>
    {% block sidebar %}
    <li><a href="{% url 'index_news' %}"> Все</a></li>
    <li><a href="{% url 'notes' %}">Уведомления</a></li>
    <li><a href="{% url 'finals' %}">Итоги собраний</a></li>
  </ul>
  </div>
<div class="wrapper">
{% if now_user.is_admin %} <a href="{% url 'add_news' %}" class="btn" >Добавить новость</a> {% endif %}
</div>
{% endblock %}

    <div class="main-news">
        <div class="title">Главные новости</div>
        <div class="news" ><a>{% block content %} {% endblock %}</a></div>

    </div>

</body>
</html>