<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
     <link rel="stylesheet" href="\static\css\styles_offline.css"> 
</head>
<body>
    <p>
      <form method="post">
        <strong><h3>Добавить оффлайн голоса:</h3></strong>
          {% csrf_token %}
          <p>
            <label>ФИО</label><br>
            <input type="text" name = "user_name" required /><br>
            <label>Номер квартиры</label><br>
            <input type="text" name = "user_flat_number" required /><br>
            <label>Площадь квартиры</label><br>
            <input type="text" name = "user_flat_area" required/><br>
            <label>Доля собственности</label><br>
            <input type="text" name = "user_flat_share" placeholder="Число от 0 до 1" required/><br>
            {% for vote in my_votes %}
            <strong>{{vote.solution}}</strong><br>
            Решение:<br />
            <select class= "box" name= {{vote.election_id}} value = ВОЗДЕРЖАЛСЯ>
                <option>ВОЗДЕРЖАЛСЯ</option>
                <option>ЗА</option>
                <option>ПРОТИВ</option>
             </select> <br>
             {% endfor %}
             <br><br>
             <input type="submit"  value = "Добавить голос" >
              <br>
              <br>
              <a href="/construct/meeting?id={{ meeting.meeting_id }}"> Вернуться на страницу собрания</a>
            </p>
        </form>


    


</body>
</html>