{% extends "base_voting.html" %}

{% block content %}
<link rel="stylesheet" href="\static\css\styles_index.css">
  {% for my_votes in my_meetings %}
    <a>{{my_votes.0.meeting.title}}</a> <br>
     {% for vote in my_votes %}
         <a>{{ vote.solution }}</a><br>
         <div class="news">
             <a>
      <form method="post">
        
        {% csrf_token %}

            Решение:<br />
            <select class= "box" name='vote'>
              <option>ЗА</option>
              <option>ПРОТИВ</option>
              <option>ВОЗДЕРЖУСЬ</option>
           </select> 
             <input type="hidden" name='election_id' value={{vote.election_id}} />

        <br><br>
        <input type="submit" value = "Проголосовать" >
    </form>
             </a>
         </div>

    {% endfor %}

  {% endfor %}

{% endblock %}